@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');



* {
    touch-action: manipulation;
}


body{
    margin: 0;
}

#sideScroller{
    
}
#background
{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    top: 0;
    left: 0;
}




.navBar{
    z-index: 3;
    height: 10%;
    width: 100%;
    position: absolute;
    top: 0px;
}


.navBar div{
    
    
    text-align: center;
}

.navBar ul {
    margin: 0px;
}
.navBar li{
    display: inline-block;
    padding: 2%;
    margin: 0px 0px 0px 0px;
    font-family: 'Roboto';
    border-radius: 5%;
   cursor: pointer;

}

.navBar li:hover{
    background-color: rgba(218, 210, 210, 0.705);

}

.navBar li p{
    
   
    color: rgb(236, 229, 229);
    cursor: pointer;

}

.navHR{
    width: 100%;
    color: white;
    z-index: 3;
    position: absolute;
    height: 0.1px;
    margin: 0;
}


.floatUp
{
    position: relative;
    z-index: 3;
}

.welcome{
    position:absolute;
    z-index: 3;
   width: 100%;
    margin-top: 5%;
    display: inline-block;
    text-align: center;
   
    
}
.welcome2
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.welcome div {
    background-color: rgba(255, 255, 255, 0.87);
    color: rgb(211, 73, 9);
  mix-blend-mode: difference;
  font-family: Roboto;
  font-size: 2vw;
  padding: 30px;
  width: 50vw;
}
.welcome h2{
    
    text-align: center;
}
.welcome p {
    text-align: center;
    font-weight: 300;
    
}
.welcome Button
{
    height: 50px;
    width :200px;
    background-color:rgb(231, 79, 19);
    border: none;
    font-family: Quicksand;
    font-weight: bolder;
    font-size: 20px;
    color: white;
    align-self: center;
    display: inline-block;
    margin-top: 30px;
    cursor: pointer;
}

#instruction
{
    position: absolute;
    bottom: 0%;
    z-index: 3;
    height: 40%;
    
}
#instruction img{
   height: 100%;
    width: auto;
    
}


#controls {
    position: absolute;
    width: auto;
    z-index: 2;
    bottom: 0%;
    justify-content: center;
    

}
#controls div{
   
  
    color: white;
    font-size: 2vh;

    font-family: 'Quicksand';
    font-weight: bold;
    
}
#controls img{
    height: 20vh;
    width: 20vw;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#directionalControls
{
    display:flex;
    
}


#right
{
   transform: rotate(90deg);
   margin-left: 3vw;
    
}

#left
{
  
    transform: rotate(-90deg);
    
}

#up
{
   
   
  
    
    
}
#down{
    
    transform: rotate(180deg);
    
    
}

#motioncontrols
{
    position: absolute;
    z-index: 3;
    width: auto;
    
    right: 0;
    bottom: 0;
    text-align: center;
    font-family: 'Quicksand';
    color: white;
    font-weight: bold;
}
#motioncontrols div{
    padding: 5vh;
    background-color: orange;
    -webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
-webkit-tap-highlight-color:rgba(0,0,0,0);
}
#move
{
    
    margin-bottom: 1vh;
  
}
#back
{

    
  
}

#goTo
{
    z-index: 2; 
    position: absolute;
    right: 4vw;
    bottom: 50%;
    width: auto;
    text-align: center;

}
#goTo div{
    background-color: orange;
    font-size: 2vh;
    font-family: 'Quicksand';
    font-weight: bold;
    color: white;
    padding: 5vh;
    
}





@media only screen and (orientation:portrait)
{
    .welcome div {
        background-color: rgba(226, 109, 14, 0.747);
        background-color: rgba(255, 255, 255, 0.87);
        color: rgb(211, 73, 9);
      mix-blend-mode: difference;
      font-family: Roboto;
      font-size: 3vh;
      padding: 30px;
      width: 80vw;
    }

    #instruction img{
        max-height: 100%;
        width: auto;
        
    }
    .welcome Button
{
    height: 10vh;
    width :80vw;
    background-color:rgb(231, 79, 19);
    border: none;
    font-family: Quicksand;
    font-weight: bolder;
    font-size: 3vh;
    color: white;
    align-self: center;
    display: inline-block;
    margin-top: 30px;
    
}   


#controls img{
    height: 10vh;
    width: 20vw;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
}



